<%= form_for(:task, url: tasks_path, method: :get) do |form| %>
  <div class="field">
    <%= form.label :title, class: 'input-label-full' %>
    <%= form.text_field :title, value: params.dig('task', 'text'), placeholder: 'Filter by title', class: 'input-text' %>

    <%= form.label :status, class: 'input-label-full' %>
    <%= form.select :status, options_for_select([["Filter by status", ""]] + status_options, selected: params.dig('task', 'status')), {}, class: 'input-select' %>

    <%= form.label :created_at_start, 'Created At (Start)', class: 'input-label-full' %>
    <%= form.text_field :created_at_start, class: 'db-datepicker input-text', value: params.dig('task', 'created_at_start') %>
    <%= form.label :created_at_end, 'Created At (End)', class: 'input-label-full' %>
    <%= form.text_field :created_at_end, class: 'db-datepicker input-text', value: params.dig('task', 'created_at_end') %>

    <br />
    <br />
    <%= form.submit 'Search', class: 'db-btn db-btn-primary db-btn-large' %>
  </div>

<% end %>
