<!DOCTYPE html>
<html>
  <head>
    <title>DBTaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css">

    <%= javascript_pack_tag 'application' %>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
  </head>

  <body class="bg-gray">
    <div class="top-header">
      <h1 class="title"><i class="bi bi-list-task ilarge middle"></i> DB Task Manager</h1>

      <% if current_user.active_campaign_contact_id.present? %>
        <span class="badge badge-blue" title="Active Campaign Contact ID"><%= current_user.active_campaign_contact_id  %></span>
      <% end %>

      <% if current_user.contact_tag_id.present? %>
        <span class="badge badge-green badge-square">First Task Created</span>
      <% end %>

      <% if current_user.present? %>
        <span class="right mgn-right-50">
          <%= link_to destroy_user_session_path, method: :delete, class: 'middle' do %>
            <i class="bi bi-box-arrow-left red ilarge"></i>
            <span class="logout-text red mgn-left-5">Logout</span>
          <% end %>
        </span>
      <% end %>
    </div>
    <div class="bg-gray padding-10">
      <div class="container-center-large">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
