<div class="center-items">
  <h1 class="devise-title"><i class="bi bi-list-task ilarge middle"></i> DB Task Manager</h1>
  <h2 class="devise-heading">Sign Up</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: 'input-label-full' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Enter your email', class: 'input-text input-text-full' %>
  </div>

  <div class="field">
    <%= f.label :password, class: 'input-label-full' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Create a password', class: 'input-text input-text-full' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: 'input-label-full' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm Your Password', class: 'input-text input-text-full' %>
  </div>

  <div class="actions">
    <br />
    <%= f.submit "Register", class: 'db-btn db-btn-primary db-btn-fullwidth db-btn-large' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
